*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "IBM Plex Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
}
main{
    max-width: 1440px;
    height: 100vh;

}