.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;             
  padding: 0 35px;

  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 2px 5px rgba(249, 171, 171, 0.05);

 
}


.search {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 999px;
  background: #f8f8f8;
  outline: none;
  font-size: 14px;
}  
.user-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}