
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  background: #F4F5F7;
}


main {
  margin-left: 360px;
  /* margin-right: 20px;  */
  padding: 8px;
  padding-top: 120px; 
  min-height: 100vh;
  display: flex;
  flex-wrap:wrap ; 
  gap: 32px;   
}

.sales {
  /* width: 100%;*/
  max-width: 1100px;
  width: 1100px;
  min-width: 690px;
  height: 163px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summary {
  /* margin-left: 750px; */
  max-width: 600px;
  width: 690px;
  min-width: 400px;
  height: 163px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.graph{
  max-width: 1100px;
  min-width: 690px;
  min-height: 360px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
}


