
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  background: #F4F5F7;
}

.sales {
  display: grid;
  width: 100%;
  
  


  background: #c200f3;
  border-radius: 10px;
  /* border: 1px solid #eee; */
}
.summary {
  display: grid;
  background: #fff;
  width: 100%;
  /* grid-template-columns: 1fr; */
  /* grid-column: 1/3;
  grid-row: 1/2; */
  
  
  border: 1px solid #eee;
  gap: 12px;
  border-radius: 10px;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.05); */
}

.graph-sale {
  display: grid;
   width: 100%;
   height: 360px;
   /* padding: 20px ; */
   /* gap: 12px; */

   background: #fff;
   /* border: 1px solid #eee; */
   border-radius: 10px;
   /* grid-template-rows: auto 1fr; */

   /* box-shadow: 0 2px 5px rgba(0,0,0,0.05); */
 }
 
 .graph-summary {
  display: grid;
   width: 100% ;
   height: 360px;
   /* padding: 20px ; */

   background: #fff;
   border-radius: 10px;
   /* grid-template-rows: auto 1fr; */
   gap: 12px;
   
   /* border: 1px solid #eee; */
   /* box-shadow: 0 2px 5px rgba(0,0,0,0.05); */
  }

.layout-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: 
  "sidebar header "
  "sidebar main";
  column-gap: 10px;
  row-gap: 10px;
  main{padding: 20px 20px 0px 20px;}
  width: 100%;
  min-height: 100vh;
}

  .main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "sales summary"
    "sales summary";
    gap: 40px;
   
}

