
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  background: #F4F5F7;
}


main {
  margin-left: 320px; 
  padding: 8px;
  padding-top: 120px; 
  min-height: 100vh;
  display: flex;
  flex-wrap:wrap ; 
  gap: 32px;   
}

/* .sales{
width:690px ;
height: 163px;
margin-bottom: 30px;
margin-left:  30px; 
margin-top: 30px;
margin-right: 30px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 8px 24px;
background:#FFFFFF;
border:1px;
border-color:#EEEEEE ;
box-shadow: 0 2px 5px rgba(0,0,0,0.05);
z-index: 100;
} */
.sales {
  width: 100%;
  max-width: 690px;
  height: 163px;
  padding: 20px 24px;

  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summary {
  width: 100%;
  max-width: 384px;
  height: 163px;
  padding: 20px 24px;

  background: #fff;
  border: 1px solid #eee;
  /* border-radius: 10px; */
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);

  display: flex;
  flex-direction: column;
  gap: 12px;
}
