
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  background: #F4F5F7;
}

.sales {
  width: 100%;
  min-width: 0;
  /* padding: 20px 24px; */
  background: #c200f3;
  border: 1px solid #eee;
  border-radius: 10px;
}
.summary {
  background: #fff;
  padding: 20px 24px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  /* GRID-Д ЧУХАЛ */
  width: 100%;
  min-width: 160px;
  /* дотор layout */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.layout-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: 
  "sidebar header "
  "sidebar main";

  column-gap: 10px;
  row-gap: 10px;
  main{padding: 20px;}
  width: 100%;
  min-height: 100vh;

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "sales sales"
  "summary summary";
  column-gap: 24px;
  /* row-gap: 24px;
  padding: 20px;  */
  /* gap: 24px; */
  /* grid-auto-rows: 1fr; */
}
/* 
 .graph-sale {
  width: 100%;
  max-width: 1100px;
  min-width: 320px;
  height: 360px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
 }
 .graph-summary {
  width: 100% ;
  max-width: 600px;
  min-width: 320px;
  min-height: 360px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
 } */