
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  background: #F4F5F7;
}
.container-big {
  display: flex;
}
.big-container {
  width: 280px;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  align-content: start ;

  background: white;
  border:1px solid #eee;
  opacity: 1;
  top:0;
  left:0;

  grid-gap: 50px;
  /* grid: column gap 50px; ; */
  justify-content: space-between;
  align-items: center;
}

main {
  margin-left: 360px;
  /* margin-right: 20px;  */
  padding: 8px;
  padding-top: 120px; 
  min-height: 100vh;
  display: flex;
  flex-wrap:wrap ; 
  gap: 32px;   
}

.sales {
  width: 100%;
  max-width: 1100px;
  min-width:320px;
  height: 163px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summary {
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  height: 163px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius:10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

 .graph-sale {
  width: 100%;
  max-width: 1100px;
  min-width: 320px;
  height: 360px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
 }
 .graph-summary {
  width: 100% ;
  max-width: 600px;
  min-width: 320px;
  min-height: 360px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
 }