*::before,
*::after {
  box-sizing: border-box;
}
 /* .sidebar-left {
  position: fixed;
  width: 280px;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  top:0;
  left:0;
  padding:24px;
  background: white;
  border:1px solid #eee;
  opacity: 1; 
} */
/*  
  .sidebar-left {
    width: 140px;
  }
  .main-content {
    margin-left: 72px;
  }
} */
.sidebar-left{
  width: 280px;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  align-content: start ;

  background: white;
  border:1px solid #eee;
  opacity: 1;
  top:0;
  left:0;

  grid-gap: 50px;
  /* grid: column gap 50px; ; */
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .sidebar-left {
    width: 72px;
    padding: 16px;
  }
}


/* menu-sidebar */
.menu-items{
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
/* items= icon+texts */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 4px;
  font-size: 18px;
  color: #000000; 
  cursor: pointer;
}
.menu-item{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 4px;
  font-size: 18px;
  color: #000000; 
  cursor: pointer;
}

/* items= icon+texts */

.sidebar-item svg {stroke: #000000; flex-shrink: 0;}

.sidebar-link {
  text-decoration: none;   
  color: #000000;          
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;

}