*::before,
*::after {
  box-sizing: border-box;
}
 .sidebar-left {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top:0;
  left:0;
  width: 280px;
  height: 960px;
  padding:24px;
  background: white;
  border:1px solid #eee;
  opacity: 1;
}

/* menu-sidebar */
.menu-items{
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
/* items= icon+texts */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 4px;
  font-size: 18px;
  color: #000000; 
  cursor: pointer;
}
.menu-item{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 4px;
  font-size: 18px;
  color: #000000; 
  cursor: pointer;
}

/* items= icon+texts */

.sidebar-item svg {stroke: #000000; flex-shrink: 0;}

.sidebar-link {
  text-decoration: none;   
  color: #000000;          
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;

}