
*::before,
*::after {
  box-sizing: border-box;
}

.sidebar-left {
  width: 280px;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto; 
  align-content: start;

  background: white;
  border-right: 1px solid #eee;
}
.menu-items {
  display: grid;
  row-gap: 16px;
  padding: 24px;
}
.menu-item,
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 4px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.sidebar-item svg {
  flex-shrink: 0;
  stroke: #000;
}
.sidebar-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}



@media (max-width: 768px) {
  .sidebar-left {
    width: 72px;
  }

  .sidebar-link {
    display: none; /* icon-only */
  }
}
