h1,h2{
    background-color: antiquewhite;
    text-align: center;
}

/*property*/
/*margin -г нь тус тусал нь өгөх*/

.box-01{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin-bottom: 5px; 
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box-02{
    background-color: rgb(30, 202, 53);
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*inside-box01*/
{background-color: brown;
    height: 70px;
    width: 70px;
    /*short version marjin*/
    margin:4px 5px 6px 7px;
    /*3 utga */
    
}

/*inside-box02*/
{background-color: green;
    height: 70px;
    width: 70px;
/*#inside-box03*/
{background-color: red;
    height: 50px;
    width: 50px;
    background-color: yellow;
    text_align: center;
    margin: 5px auto;
}
/*box3 */
.box-03{
    border-top:5 px ;
    border-bottom:5px;

}

border-top-width:5px;
border-bottom-width:5px;
border-left-width:5px;
border-right-width:5px;
/* style*/
border-top-style: dashed;
border-bottom-style: double;
border-left-style: groove;
border-right-style: solid;
/*color*/
border-top-color:aqua;
/*border-radius*/
border-top-left-raduis:10px;
border-top-right-raduis:6px;
border-bottom-left-raduis:5px;
border-bottom-right-raduis:15px;