*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
}

main{
    max-width: 1440px;
    height: 100vh;

}

/* navigation bar Selection  */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    background-color: #fff;
    box-shadow: 0 59px 16px 0 rgba(8, 128, 0, 0.00), 0 38px 15px 0 rgba(8, 128, 0, 0.01), 0 21px 13px 0 rgba(8, 128, 0, 0.02), 0 9px 9px 0 rgba(8, 128, 0, 0.04), 0 2px 5px 0 rgba(8, 128, 0, 0.04);}

.navbar-left-side {
  max-width: 217px;
  max-height: 29px;
  margin-left: 127px;
}

.navbar-left-side #name {
  color: #75c310;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar-left-side #portfolio {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar-right-side {
  margin-right: 127px;
}

.navbar-right-side ul {
  display: flex;
  max-width: 675px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 54.75px;
}

ul li {
    list-style: none;
    color: chartreuse;
    font-family: Montserrat;
    font-size: 20px;
}

.navbar-left-side{
    color: chartreuse;
    font-family: montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}   

.navbar-left-side .title{
    color: black;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-right-side ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 675px;
    gap: 32px;
    padding-bottom: 8px;
}
/*button-green */
.green_btn {
    display: flex;  
    justify-content: center;
    align-items: center;
    background: #75c310;
    color: #fff;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
}

.white_btn {
    background: #ffff;
    color:#3F6333;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
}

/* creativity section */
.creativity-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 127px;
}

.creativity-section .right-section img{ 
    width: 514px;
    height: 513px;
    margin-left: 100px;
    margin-top: 5px;
}
/* text format */
/* bold text  */
.bold-text {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 64px;
    max-width: 429px;
    margin-top: 60px;
}

.bold-text-center {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 64px;
    width: 568px;
    height: 156px;
    margin-top: 110px;
    text-align: center;
}

.bold-text-center-01 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 25px;
    width: 568px;
    height: 156px;
    margin-top: 110px;
    text-align: center;
}

.bold-text-right {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 64px;
    width: 568px;
    height: 156px;
    margin-top: 110px;
    text-align: right;
}

.bold-white-text-right {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #ffffff;
    font-size: 20px;
    width: 568px;
    height: 156px;
    margin-top: 90px;
    margin-left:50px ;
    margin-right: 100px;
    text-align: right;
}
/* normal text */
.normal-text-center {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: #000;          
    
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.normal-text-right {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #000;          
    max-width: 312px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: right;
}

/* text white*/
    .white-text-right {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: #ffffff;          
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: right;
    }
/* satisfaction section  2 дахь хэсэг эхэлж байна*/

.satisfaction-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin: 0 127px;
}

.satisfaction-section .left-side img{
    width: 554px;
    height: 554px;
    margin-left: 0px;
}
.satisfaction-section .right-side {
    max-width: 429px;
    margin-top: 60px;
    margin: 5px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.satisfaction-section .right-side #satisfaction {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 64px;
    max-width: 429px;
    margin-top: 60px;
}

/* section happy cleints*/
.happy-cleints{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#stories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.team-frame {
    width: 382px;
    height: 485px;
    border: 4px solid #75c310;    
    border-radius: 12px;          
    box-sizing: border-box;       
    background: #ffffff;         
    display: flex;
    align-items: center;          
    flex-direction: column;     
    padding: 20px;                
    margin: 24px auto;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    position: relative;

}

.team-people {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.team-frame img {
    width: 227px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
    position: absolute;    
    top:-40%;
}

.margin-top-100 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#body{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    background-image: url("../image/profile-02.png");
    max-width: 1440px;
    height: 469px;
    margin-top: 300px;
    background-color: #75c310;
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position-x: -300px;
    background-position-y: -260px;
}
.info {
    display:flex;
    justify-content: space-between;
}

.margin-left-100 {
    display: flex;
    justify-content: flex-end;
    

}